@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,300&display=swap");
.labelStyle {
  font-family: Inter !important;
  font-size: 24px !important;
  font-weight: 400;
}
.outlabel {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.labelStyle {
  font-family: Inter !important;
  font-weight: 400;
  font-size: 25px !important;
  color: #2333b1;
  height: auto;
}
::v-deep .v-select__slot {
  position: relative;
  align-items: center;
  display: flex;
  max-width: 100%;
  width: 100%;
  color: #0822e9;
  height: 55px;
}
::v-deep .v-text-field--outlined.v-input--dense .v-label {
  top: 14px;
  font-family: Inter !important;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #182ed6 !important;
}
